@import url('https://fonts.googleapis.com/css2?family=Forum&family=Manrope:wght@300;400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #E2D3CE;
}

a{
    text-decoration: none;
}

.uppercase{
    text-transform: uppercase;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-col_main-block{
    width: 100%;
    height: 999px;
    background-image: url(./img/main-block-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    align-items: center;
}

.flex-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 93.4%;
    padding-top: 24px;
}

.flex-row__menu-list{
    width: 55.9%;
}

.nav-links, .decor-text{
    font: 400 1rem/1.1rem Forum;

    text-decoration: none;
    text-transform: uppercase;
    color: #0C0B10;
    text-align: center;
}

.button{
    background: none;
    border: 1px solid #0C0B10;
    border-radius: 61px;

    cursor: pointer;
    transition: 0.7s;
}

button:hover{
    transform: scale(1.1);
}

.button_size-s{
    height: 40px;
    width: 156px;
}

.button_white{
    border: 1px solid white;
}

.decor-text_m{
    font: 400 1.563rem/1.563rem Forum;
}

.decor-text_h{
    max-width: 138px;
    padding: 75.5px 0 61.4px 0;
    letter-spacing: 0.3em;
}

.text-extra-large{
    font: 400 12.375rem/8.04rem Forum;
    text-transform: uppercase;
    color: white;
    /* max-width: 65%; */
    text-align: center;
    letter-spacing: 0.04em;
}

.flex-col_container{
    position: relative;
}

.main-block-front{
    width: 110%;
    object-fit: contain;
    position: absolute;
    top: 37%;
    left: -8.5%;
}

.text-large{
    font: 400 8.851rem/8.851rem Forum;
    color: #FFFFFF;
    text-transform: uppercase;
    z-index: 1;
}

.main-block-mountains{
    width: 110%;
    object-fit: contain;
    position: absolute;
    top: 80%; 
    left: -5.5%;
    z-index: 2;
}

.flex-col_up{
    z-index: 5;
    padding-top: 36px;
    width: 100%;
}

.flex-col__info-block{
    width: 100%;
}

.info-header{
    width: 23%;
    height: 55px;
    border-radius: 67px;
    background-color: #FFFFFF;

    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-links_m_brown{
    color: #79655E;
}

.flex-row__white-box{
    width: 77%;
    height: 114px;
    background-color: #FFFFFF;
    border-radius: 10px;
    
    position: relative;
    top: -15%;
    padding: 0 4.1% 0 4.1%;
    z-index: 6;
}

.font-size-xs{
    font: 300 1.125rem/1.5625rem Manrope;
}

.font-size-xs_brown{
    color: #79655E;
    display: flex;
    align-items: center;
}

.font-size-xs img{
    padding-right: 5%;
}

.dropdown span{
    font: 500 1.125rem/1.5625rem Manrope;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff9a;
    width: 100%;
    box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.05);
    z-index: 6;
}

.dropdown-content a {
    color: #0C0B10;
    padding: 7px 10px;
    text-decoration: none;
    display: block;

    font: 500 0.8rem/0.8rem Manrope;
}

.dropdown-content a:hover {
    background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.intro input{
    border: none;
    font: 500 1.125rem/1.5625rem Manrope;
    color: #0C0B10;
}

.clouds{
    width: 100%;
    z-index: 3;
    position: relative;
    top: -40%;
    background: linear-gradient(180deg, rgba(226, 211, 206, 0) 0%, rgba(226, 211, 206, 0.71) 42.71%, #E2D3CE 100%);
}

.button_size-m{
    height: 61.4%;
    width: 15%;
    background: #0C0B10;
    border-radius: 121px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_size-m p{
    color: #FFFFFF;
    width: fit-content;
    margin-left: 5%;
}

.flex-col_top-rated{
    width: 100%;
    background-color: #E2D3CE;
    margin-bottom: 116px;
}

.decor-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 5;
}

.decor-block svg{
    margin-top: -50px;
}

.font-size-l{
    font: 400 3.75rem/3.75rem Forum;
    color: #0C0B10;
}

.decor-block .font-size-l{
    text-align: center;
    position: absolute;

    max-width: 344px;
}

.flex-row__link-row{
    width: 66.6%;
    margin: 25px 0 34px 0;

    overflow-x: auto;
}

.font-size-s{
    font: 400 1.563rem/1.539rem Forum;
    color: white;
}

.font-size-s_nav{
    color: #79655E;
    position: relative;
    text-decoration: none;
    transition: all 0.5s ease;

    min-width: fit-content; 
    margin-right: 18px; 
    min-height: 28px; 
    overflow-x: auto; 
    overflow-y: visible;

    font-size: 25px; 
}

.font-size-s_nav::-webkit-scrollbar {
    display: none;
  }

.font-size-s_nav:hover{
    color: #0C0B10;
}

.font-size-s_nav::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 0;
    height: 3px; /* линия */
    background-color: #0C0B10; /*при исчезании */
    transition: width 0.5s;
}

.font-size-s_nav:hover::after{ /*при появлении */
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    transition: width 0.5s; 
}

.card{
    border-radius: 10px;
    height: 570px;
    width: 350px;

    margin-right: 16px;
    background-size: cover;
}

.slick .card{
    padding: 411px 35px 40px;
    margin-right: 16px;
}

.slider-item__austria{
    background-image: url(./img/scroll-winter-park.png);
}

.slider-item__peru{
    background-image: url(./img/scroll-machu-picchu.png);
}

.slider-item__croatia{
    background-image: url(./img/scroll-hvar.png);
}

.slider-item__jordan{
    background-image: url(./img/scroll-wadi-musa.png);
}

.text-block{
    width: 280px;
    height: 119px;
    display: flex;
    justify-content: space-between;
}

.font-manrope-xs{
    font: 300 12px/16px Manrope;
    color: white;
}

.font-size-m{
    font: 400 36px/36px Forum;
    color: white;
}

.high-text .font-size-m{
    min-width: 218px;
}

.place{
    display: flex;
    width: 54px;
}

.place img{
    margin-right: 5px;
}

.left-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex-row__journey{
    width: 100%;
}

.slick{
    width: 100%;
    margin-left: 92px;
    overflow-x: auto; /* сработало */
}

.slick::-webkit-scrollbar {
    display: none;
}



.wrapper{
    position: relative;
    margin: auto;
}

.display-none{
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;

    text-align: center;

    display: none;
    z-index: 5;
}

.display-none .font-size-l{
    margin-bottom: 30px;
}

.name-block .font-size-l{
    text-align: start;
    max-width: 214px;
}

.name-block{
    margin-bottom: 30px;
}

.background-sea{
    width: 100%;
    background-image: url(./img/background-sea.png);
    background-size: cover ;
}

.luxury-packages{
    height: 1378px;
    padding-bottom: 87px;

    justify-content: center;
    align-items: center;

    overflow-x: auto;
}

.img-card{
    filter: drop-shadow(-10px -10px 15px rgba(255, 255, 255, 0.35)) drop-shadow(5px 10px 15px rgba(11, 32, 52, 0.35));

    padding: 67px 50px 45px;
    margin-bottom: 30px;

    transition: 0.7s;
}

.img-card:hover{
    transform: scale(1.03);
}

.img-card_destinations{
    background-image: url(./img/card-new-destinatios.png);
}

.img-card_winter{
    background-image: url(./img/card-best-winter.png);
}

.img-card_health{
    background-image: url(./img/card-your-health.png);
}

.img-card_extraordinary{
    background-image: url(./img/card-extraordinary-places.png);
}

.img-card_experiences{
    background-image: url(./img/card-experiences.png);
}

.img-card p{
    z-index: 1;
    text-align: center;
    max-width: 185px;
}

.arrow{
    padding-top: 7px;
    z-index: 1;
}

.crystal-link{
    position: absolute;
    top: 350px;
}

.crystal{
    transform: scaleX(1.1);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 0.7s;
}

.crystal::before{
    content: "";

    width: 130px;
    height: 130px;
    border: 1px solid #79655e;
    transform: rotate(45deg) skew(20deg,20deg);

    position: absolute;
}

.crystal::after{
    content: "";

    min-width: 110px;
    min-height: 110px;
    transform: rotate(45deg) skew(20deg,20deg);
    backdrop-filter: blur(10px);

    position: absolute;
}

.crystal-horizontal::before, .crystal-horizontal::after{
    transform: rotate(-45deg) skew(20deg,20deg);
}

.crystal-horizontal::before{
    width: 100px;
    height: 100px;
}

.crystal-horizontal::after{
    min-width: 80px;
    min-height: 80px;
}

.crystal-horizontal:hover{
    transform: scale(1.4);
}

.decor-text_white{
    color: white;
    text-transform: lowercase;
}

.name-block .font-size-l{
    padding-bottom: 30px;
}

.section-three-col{
    align-self: flex-start;
    margin-right: 30px;
}

.section-three-col_flex-end{
    align-self: flex-end;
}





.book-tickets{
    width: 100%;
}

.book-tickets .font-size-l{
    margin-bottom: 70px;
    max-width: 184px;
    text-align: center;
}

.categories{
    width: 77%;
    justify-content: space-between;
}

.categories .flex-col{
    width: 48%;
}

.horizontal-card{
    height: 191px;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    margin-bottom: 30px;
    justify-content: center;
}

.horizontal-card .font-size-m{
    z-index: 2;
    text-align: center;
}

.supercars{
    background-image: url(./img/supercars.png);
}

.villas{
    background-image: url(./img/villas.png);
}

.private-helicopter{
    background-image: url(./img/helocopter.png);
}

.hotels{
    background-image: url(./img/hotels.png);
}

.yachts{
    background-image: url(./img/yachts.png);
}

.private-jet{
    background-image: url(./img/jet.png);
}







@media screen and (max-width: 1200px){
    html{
        font-size: 13px;
    }

    .flex-col_top-rated, .luxury-packages, .book-tickets{
        position: relative;
        top: -150px;

        justify-content: flex-start;
    }

    .luxury-packages{
        height: 1000px;
        padding: 0;
    }

    .name-block{
        display: none;
    }

    .section-three-col{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .section-three-col, .section-three-col_flex-end{
        align-self: center;
    }

    .slick{
        margin: 0;
    }  

    .card{
        margin: 0 16px;
    }   

    .display-none{
        display: flex;
        margin-bottom: 50px;
    }

    .flex-col_top-rated{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 992px){
    .categories{
        width: 92%;
    }
}

@media screen and (max-width: 768px){
    .categories{
        flex-direction: column !important;
        width: 92%;
    }

    .categories .flex-col{
        width: 85%;
    }
}

@media screen and (max-width: 576px){
    .categories{
        width: 92%;
    }

    .categories .flex-col{
        width: 100%;
    }
}

@media screen and (max-width: 376px){
    .flex-row__link-row{
        width: 95% !important;
    }

    .slick{
        transform: translateX(0);
    }    

    .card{
        margin-left: 16px;
    }
}

@media screen and (max-width: 375px){
    html{
        font-size: 5.8px;
    }

    .main-block{
        max-height: 832px;
    }
}